<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring Application" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="company-compass" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.example.companycompass.Application" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="main.java.com.example.companycompass.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>