<body>
<div class="container">
    <h2>Add New Company</h2>
    <form class="mt-4">
        <div class="form-group">
            <label for="name">Company Name:</label>
            <input type="text" class="form-control" id="name" name="name"
                   placeholder="Enter company name" required>
        </div>
        <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" class="form-control" id="location" name="location"
                   placeholder="Enter location" required>
        </div>
        <button type="submit" class="btn btn-primary add-company-btn" th:onclick="'submitForm()'">Add Company</button>
    </form>
</div>

<script th:inline="javascript">
    $(document).ready(function () {
        $('.add-company-btn').click(function () {
            const companyData = {
                name: $('#name').val(),
                location: $('#location').val()
            };
            submitForm(companyData);
        });
    });
    function submitForm(companyData) {
        $.ajax({
            url: '/api/company/add',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(companyData),
            success: function (response) {
                console.log('Successfully added company with id: ' + response.message.id, 'response: ', response);
                location.reload();
            },
            error: function (response) {
                console.log('Failed to add company. Response: ', response);
                location.reload();
            }
        });
    }
</script>
</body>