<body>
<div class="container">
    <h2>Add New Company</h2>
    <form action="/add" method="post" class="mt-4">
        <div class="form-group">
            <label for="name">Company Name:</label>
            <input type="text" class="form-control" id="name" name="name"
                   placeholder="Enter company name" required>
        </div>
        <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" class="form-control" id="location" name="location"
                   placeholder="Enter location" required>
        </div>
        <button type="submit" class="btn btn-primary add-company-btn">Add Company</button>
    </form>
</div>

<script th:inline="javascript">
    $(document).ready(function () {
        // Event handler for clicking the "Edit" button
        $('.add-company-btn').click(function (event) {
            event.preventDefault();
            var company = new Company();
            company.name = $('#name').val();
            company.location = $('#location').val();
            createCompany(company);
        });
    });
</script>
</body>