<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mt-5 mb-4">Company List</h1>
            <div class="container mt-4" th:if="${not #lists.isEmpty(companyList)}">
                <table class="table mt-4 table-hover">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Location</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="company : ${companyList}">
                        <th scope="row" th:text="${company.id}"></th>
                        <td th:text="${company.name}"></td>
                        <td th:text="${company.location}"></td>
                        <td>
                            <button class="btn btn-primary edit-company-btn" data-toggle="modal"
                                    data-target="#editCompanyModal">Edit
                            </button>
                            <button class="btn btn-danger" th:onclick="|deleteCompany('${company.id}')|">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="container mt-4" th:if="${#lists.isEmpty(companyList)}">
                <p>Add your first company here!</p>
            </div>
            <div class="modal fade" id="editCompanyModal" tabindex="-1" role="dialog"
                 aria-labelledby="editCompanyModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editCompanyModalLabel">Edit Company</h5>
                        </div>
                        <div class="modal-body">
                            <form id="editCompanyForm">
                                <div class="form-group">
                                    <label for="companyName">Company Name</label>
                                    <input type="text" class="form-control" id="companyName"
                                           th:text="${company != null ? company.name : ''}">
                                </div>
                                <div class="form-group">
                                    <label for="companyLocation">Company Location</label>
                                    <input type="text" class="form-control" id="companyLocation"
                                           th:text="${company != null ? company.location : ''}">
                                </div>
                                <input type="hidden" id="companyId">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-target="#editCompanyModal"
                                    th:onClick="|closeModal()|">
                                Close
                            </button>
                            <button type="button" class="btn btn-primary" id="saveChangesBtn">
                                Save changes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    $(document).ready(function () {
        // Event handler for clicking the "Edit" button
        $('.edit-company-btn').click(function () {
            $('.edit-company-btn').click(function () {
                var companyId = $(this).closest('tr').children('th').text();
                fetchCompanyInfo(companyId);
                $('#editCompanyModal').modal('show');
            });
        });

        // Event handler for submitting the form in the modal
        $('#saveChangesBtn').click(function () {
            var companyName = $('#companyName').val();
            var companyLocation = $('#companyLocation').val();
            var companyId = $('#companyId').val();

            $.ajax({
                url: 'company/edit/' + companyId,
                method: 'POST',
                data: {
                    name: companyName,
                    location: companyLocation
                },
                success: function () {
                    console.log('Successfully updated company information');
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.error('Failed to update company information:', error);
                }
            });
        });
    });

    function fetchCompanyInfo(id) {
        $.ajax({
            url: '../api/company/get',
            type: 'get',
            data: { id: id },
            contentType: 'application/json; charset=utf-8',
            success: function (companyResponse) {
                $('#companyName').val(companyResponse.message.name);
                $('#companyLocation').val(companyResponse.message.location);
                $('#editCompanyModalLabel').val(id);
                console.log('Successfully fetched company with id:', id, 'data:', companyResponse);
            },
            error: function (xhr, status, error) {
                console.error('Failed to fetch company information:', error);
            }
        });
    }

    function closeModal() {
        $('#editCompanyModal').modal('hide');
    }

    function deleteCompany(companyId) {
        if (confirm('Are you sure you want to delete this company?')) {
            $.ajax({
                url: '/web/company/delete/' + companyId,
                type: 'DELETE',
                success: function () {
                    console.log('Successfully deleted company with id:', companyId);
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.error('Failed to delete company with id:',companyId, 'error:', error);
                }
            });
        }
    }
</script>
</body>

