<div class="container mt-4">
    <!-- Company List Table -->
    <table class="table mt-4">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="company : ${companyList}">
            <td th:text="${company.id}"></td>
            <td th:text="${company.name}"></td>
            <td th:text="${company.location}"></td>
            <td>
<!--                TODO Fix below -->
<!--                <a class="btn btn-outline-primary" th:href="/*{'/edit' + ${company.id}}">Edit</a>-->
<!--                &nbsp;&nbsp;&nbsp;-->
<!--                <a class="btn btn-danger" th:href="/*{'/delete/' + ${company.id}}">Delete</a>-->
            </td>
        </tr>
        </tbody>
    </table>
</div>
